.navbar{
  background: rgb(110, 0, 0);
}

.navbar .active>a {
  background: firebrick !important;
}

.navbar .open .dropdown-toggle{
  background: firebrick !important;
}

.card1{
  width: 96%; 
  /* border: 1px solid black; */
  margin:auto;
  padding: 2%;
  height:490px;
  flex:auto;
}

.card1 .title{
  width: 95%;
  display: inline-block;
  height:40px;
  top: 20px;
}

.card1 .card2{
  width: 48.5%;
  display: inline-block;
  margin: 0.5%;
  height: 180px;
}

.card2 .cardTop{
  background: firebrick;
  width: 100%;
  height: 70%;
  padding-top: 5%;
  padding-left: 5%;
  font-size: 30px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.card2 .cardBottom{
  background: grey;
  width: 100%;
  height: 30%;
  padding-bottom: 3%;
  padding-right: 3%;
  text-align: right;
  font-size: 24px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title{
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
}

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

.tbl{
  margin-top: 5px;
}

.tbl tr{
  height: 50px;
}

.tbl td{
  /* text-align: center; */
  width: 200px;
  cursor: pointer;
}

.tbl th{
  /* text-align: center; */
  background-color: rgb(110, 0, 0);
  color: black;
}

.tbl th #registerBtn{
  width: 110px;
}

.container{
  width: 80%;
}

.pagesearch{
  text-align: center ;
}

.input-lg{
  width: 40%;
  margin:auto;
  display: inline-block;
}
.search, .page{
  margin-top:5px;
}

.search button{
  height: 45px;
  width: 80px;
  text-align: center;
  padding-top: 3px;
  margin-left: 10px;
}

.pagination > li > a,
.pagination > li > span
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { 
  color: rgb(110, 0, 0);
}

.search button,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: rgb(110, 0, 0);
  border-color: rgb(110, 0, 0);
}

#delmember, #addevent{
      text-align: left;
}
/* main a태그 색변경 제거*/
a:link, a:visited, a:hover { color: black; text-decoration: none;}

/* modal 내용 */
.modal-content{
  text-align: left;
}