@charset "UTF-8";
/* 아이디 찾기 상단 */
    #container{
        width: 100%;
        height: 800px;
    }
    #area1{
        width: 30%;
        /* border: 1px solid; */
        padding-top: 180px;
        margin: 0 auto;
        height: auto;
    }

    #area2{
        border: 1px solid lightgray;
        margin-bottom: 50px;
    }
    #area3{

    }
    #area1Img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        /* border: 1px solid; */
        margin-bottom: 30px;
    }
    #area1Img img{
        height: 100%;
        margin: 0 auto;

    }
       
        .idDiv{
            color: #d2d2d2;            
            display: inline-block;
            width: 49%;
            text-align: center;
            font-size: 13px;
        }
        .pwdDiv{
            color: rgb(13,78,100);
            display: inline-block;
            width: 49%;
            text-align: center;
            font-size: 13px;
        }
        .hr{
            width: 40%;
            margin: 0 auto;
            border: 2px solid;
            margin-bottom: -7px;
        }
        /* 아이디 찾기 중간 */
        .div2 {
            width: 80%;
            text-align: left;
            margin: 0 auto;
            padding-top: 30px;
            text-align: center;
            padding-bottom: 15px;
            padding: 10%;
        }
        /* 아이디 찾기 하단 */
        .div3 {
            text-align: center;
            font-size: 0.9em;
            color: gray;
        }
        /* 라디오버튼 크기 */
        .radio{
            margin-bottom: 15px;
        }
        /* 숨겨진 div */
        .radioDiv{
            padding: 3%;
            background: #eee;
            margin-bottom: 15px;
        }
        .radioDiv button{
            background: rgb(13, 78, 100);
            height: 35px;
            width: 100px;
            color: white;
            font-weight: bold;
            margin-top: 10px;
        }
        /* text 크기  */
        .text{
            width: 50%;
            height: 25px;
            font-size: 11px;
        }
        /* 버튼 크기 */
        button{
            background: rgb(13, 78, 100);
            height: 35px;
            width: 100px;
            color: white;
            font-weight: bold;
        }

        /* 아이디 찾기 폰 div */
        #f1 {
            display: none;
        }
        /* 아이디 찾기 폰2 div */
        #f2 {
            display: none;
        }
        /* 아이디찾기 이메일 div */
        #f3 {
            display: none;
        }
        /* 아이디 찾기 이름/생년월일/성별 */
        #f4 {
            display: none;
        }

        footer{
        }
