*{
    list-style: none;
}

/* 네비게이터(로고, 로그인, 마이페이지) */
header{
    width: 100%;
}

#nav {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

nav #logodiv {
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
}

nav #logo{
    height: 130px;
    width: 130px; 
}

nav #navp{
    height: 100px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

#navp span{
    margin: 5px;
}

/* 검색창 */
#div1{
    height: 100px;
    margin: 0 auto;
    text-align: center;
}


body{
    width: 100%;
}

body #div1 {
    width: 522px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

#div1 #searchtext{
    width: 450px;
    height: 39px;
    margin: 0 auto;
    position: absolute;
    left: 15px;
    top: 5px;
    border: 1px solid white;
}

#div1 #searchbtn{
    width: 45px;
    height: 45px;
    margin: 0 auto;
    position: absolute;
    right: 2px;
    top: 4px;
    /* z-index: -1; */
    background: rgb(13, 78, 100);
    color: white;
    font-weight: bold;
    font-size: 24px;
    /* border: rgb(13, 78, 100); */
    border: 0;
    outline: 0;
}
input:focus {outline:none;}

/* 푸터(footer) */
footer{
    width: 100%;
    height: 100px;
    padding-bottom: 0;
    bottom:0px;
    background: rgb(13, 78, 100);
}

#footerArea{
    width: 70%;
    margin: 0 auto;
}
#footerArea p, b{
    color: white;
    font-size: 9px;
    padding-top: 12px;
    letter-spacing: 0.5px;
    font-weight: lighter;
    bottom: 0px;
}

#bannersection{
    margin-top: 30px;
}

#bannersection ul{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#bannersection li{
    margin: 1%;
}

/* 하단 배너 */
#bannersection{
    /* border: 1px solid black; */
    width: 70%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 30px;
    
}
.banner{
    width: 30%;
    border: 2px solid rgb(13, 78, 100);
    height: 250px;
    display: inline-block;
    padding: 1.2%;
    position: relative;
    border-radius: 10px;
}

/* 배너 1 */
.bannerimgb1{
    background-image: url(../images/tamlove1.jpg);
    /* border: 1px solid black; */
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
    
}
.bannerimgb1:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.075);
    transition: all 0.45s;
}

.bannertext1{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    width: 90%;
    margin-top: 94px;
    
    
}

/* 배너 2 */
.bannerimgb2{
    background-image: url(../images/tamhate1.jpg);
    /* border: 1px solid black; */
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
}
.bannerimgb2:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.075);
    transition: all 0.45s;
}

.bannertext2{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    width: 90%;
    margin-top: 94px;
    
}

/* 배너 3 */
.bannerimgb3{
    background-image: url(../images/tamlove2.jpg);
    /* border: 1px solid black; */
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
}
.bannerimgb3:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.075);
    transition: all 0.45s;
}

.bannertext3{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    width: 90%;
    margin-top: 94px;
    
}

/* 배너 4 */
.bannerimgb4{
    background-image: url(../images/tamhate2.jpg);
    /* border: 1px solid black; */
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
}
.bannerimgb4:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.075);
    transition: all 0.45s;
}

.bannertext4{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    width: 90%;
    margin-top: 94px;
    
}

/* 배너 5 */
.bannerimgb5{
    background-image: url(../images/tamlove3.jpg);
    /* border: 1px solid black; */
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
}
.bannerimgb5:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.075);
    transition: all 0.45s;
}

.bannertext5{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    width: 90%;
    margin-top: 94px;
    
}

/* 배너 6 */
.bannerimgb6{
    background-image: url(../images/hanlove1.jpg);
    /* border: 1px solid black; */
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    border-radius: 10px;
}
.bannerimgb6:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.075);
    transition: all 0.45s;
}

.bannertext6{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    width: 90%;
    margin-top: 94px;
}
