@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration:none;
}
header{
    /* border: 1px solid black; */
    width: 100%;
    height: 70px;
    background: rgb(13, 78, 100);
    position:fixed;
    z-index:5000;
}
footer{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    padding-bottom: 0;
    bottom:0px;
    background: rgb(13, 78, 100);
    

}
#logodiv{
    text-align: left;
    display: inline-block;
    
}
#logo{
    width: 50px;
    /* border: 1px solid black; */
    margin: 6px;
    
}
#nav{
    width: 80%;
    /* border: 1px solid black; */
    margin: 0 auto;
}
#navp{
    margin-right: 0;
    /* border: 1px solid black; */
    display: inline-block;
    width: 90%;
    text-align: right;
    vertical-align: top;
    margin-top: 24px;
}
.navp{
    padding: 3px;
    color: white;
    
}

/* regicomp2_2내용 */
.wrap{
    /* 전체 div */
    width:80%;
    height:750px;
    /* border: 1px solid black; */
    margin:auto; 
    padding-top: 100px;
}
.regist{
    /* 회원가입 폼 table */
    margin-left: auto; 
    margin-right: auto;
}
.form-control{
    /* 회원가입 폼 input태그들 */
    height:30px;
    width:250px
}
#pid1{
    /* 회원가입 폼 주민번호 앞자리 */
    height:30px;
    width:100px;
}
#pid2{
    /* 회원가입 폼 주민번호 뒷자리 */
    height:30px;
    width:20px;
}

table {
    /* 회원가입 테이블 간격 조절하는 css */
    border-collapse: separate;
    border-spacing: 17px 15px;
}

#confirm{
    /* 휴대폰 인증 버튼 */
    width:90px;
    height:30px;
    background-color: rgb(13, 78, 100);
    border: none;
    color:#fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}

.btn {
    /* 회원가입 버튼 */
    width:482px;
    height:50px;
    background-color:rgb(13, 78, 100);
    border: none;
    color:#fff;
    /* padding: 5px 0; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /* margin: 4px; */
    cursor: pointer;

    /* border-radius:10px; */

}

#upload{
    background: rgb(13, 78, 100);
    height: 35px;
    width: 130px;
    color: white;
    font-weight: bold;
}

#upload2{
    background: rgb(13, 78, 100);
    height: 35px;
    width: 110px;
    color: white;
    font-weight: bold;

}

#shopNum{
    background: rgb(13, 78, 100);
    height: 35px;
    width: 100px;
    color: white;
    font-weight: bold;
}

#menu{
    background: rgb(13, 78, 100);
    height: 35px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size:12px;
}

html{
    height:100%;
}

body{
    min-height:100%;
}

/* 약관동의 css(사용안함) */

/* #chkwrap1{
    width:480px;
    text-align: left;
    padding-bottom: 10px;
    

}
#chkwrap2{
    border: 1px solid lightgray;
    width:480px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
} */
/* .all-chk{
    border-bottom: 1px solid lightgray;
    background: rgb(82, 82, 82);
    color:white;
    height: 37px;
} */
/* .chk-info{
    list-style:none;
    
} */
/* label{
    font-size:14px;
    vertical-align: sub;
    padding-left:3px;
}
.chk_1{
    vertical-align:-2px;
    
} */

.wrap{
    /* 전체 div */
    width:80%;
    height:auto;
    /* border: 1px solid black; */
    margin:auto; 
    padding-top: 100px;
    padding-bottom: 50px;
}
.regist{
    /* 회원가입 폼 table */
    margin-left: auto; 
    margin-right: auto;
}
.form-control{
    /* 회원가입 폼 input태그들 */
    height:30px;
    width:250px
}
#pid1{
    /* 회원가입 폼 주민번호 앞자리 */
    height:30px;
    width:100px;
}
#pid2{
    /* 회원가입 폼 주민번호 뒷자리 */
    height:30px;
    width:20px;
}

table {
    /* 회원가입 테이블 간격 조절하는 css */
    border-collapse: separate;
    border-spacing: 17px 15px;
}

#confirm{
    /* 휴대폰 인증 버튼 */
    width:90px;
    height:30px;
    background-color: rgb(13, 78, 100);
    border: none;
    color:#fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}

.btn {
    /* 회원가입 버튼 */
    width:482px;
    height:50px;
    background-color:rgb(13, 78, 100);
    border: none;
    color:#fff;
    /* padding: 5px 0; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /* margin: 4px; */
    cursor: pointer;

    /* border-radius:10px; */

}

html{
    height:100%;
}

body{
    min-height:100%;
}
th{
    vertical-align: top;
    padding-top: 7px;
}

#category{
    padding: 2%;
    border: 3px solid #eee;
}

#tableForm{
    padding: 2%;
    border: 3px solid #eee;
}
.button{
    /* box-shadow: 1px 0px 3px grey; */
    background: rgb(13, 78, 100);
    height: 35px;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size:18px;
}
/* 약관동의 css(사용안함) */

/* #chkwrap1{
    width:480px;
    text-align: left;
    padding-bottom: 10px;
    

}
#chkwrap2{
    border: 1px solid lightgray;
    width:480px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
} */
/* .all-chk{
    border-bottom: 1px solid lightgray;
    background: rgb(82, 82, 82);
    color:white;
    height: 37px;
} */
/* .chk-info{
    list-style:none;
    
} */
/* label{
    font-size:14px;
    vertical-align: sub;
    padding-left:3px;
}
.chk_1{
    vertical-align:-2px;
    
} */
